    <br> <a href='/stats'>See your stats </a> </br> 
    <br> <a href='/newgame'>Start a new game </a> </br> 
    <br> <a href='/editprofile'>Edit your profile </a> </br> 
    <br> <a href='/stats'>See your stats </a> </br> 
    <br> <a href='/'>Home</a> </br>
    <br> <a href='/signout'>Sign Out</a> </br>