<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class = "active"><a href="/">PLAY!</a></li>
      <li><a href="/players">New Match</a></li>
      <li><a href="/stats">Your Stats</a></li>
      <li><a href="/editprofile">Account Settings</a></li>
      <li><a href="/signout">Sign Out</a></li>
    </ul>

  </section>
</nav>
