  <h2>Challenge another player!</h2>
<div class="columns large-6 large-center">
  
  <% @all_users.each do |user| %>
    <a href='/newmatch/<%= user[:user_id] %>'>
    <div class="row panel">
      <%= user[:user_id] %>
      <%= user[:name] %>
    </div>
    </a>
  <% end %>


</div>